<h1> Hi, I am Yumee! </h1>

<h2>Skills</h2>
<ul>
  <% @skills.each do |skill| %>
  <li> <%= skill %> </li>
  <% end %>

<h2>Interests</h2>
<ul>
  <% @interests.each do |interest| %>
  <li> <%= interest %> </li>
  <% end %>


</ul>
